
#title {
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.sketchpad {
    /* display: grid; */ 
    display: inline-block;
    height: 500px;
    width: 500px; 
    border: 1px solid black;
}

.row {
    display: inline-block;
}

.cell {
    background-color: white;
    box-sizing: border-box;
}

/* .cell:hover {
    background-color: darkred;
} */