html {
    background-color: lightslategray;
}

#title {
    text-align: center;
    color: white;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.sketchpad {
    /* display: grid; */ 
    display: inline-block;
    height: 500px;
    width: 500px; 
    border: 1px solid black;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.row {
    display: inline-block;
}

button {
    width: 80px;
}

.cell {
    background-color: white;
    box-sizing: border-box;
}

.colorChoices {
    display: flex;
    flex-direction: column;
}

/* .cell:hover {
    background-color: darkred;
} */